.header{
    height:95vh;
    background-image:linear-gradient(
        to right bottom, 
        rgba(12, 8, 7, 0.966),
        rgba(0, 0, 0, 0.8)),
        url(../img/pexels-rodnae-productions-12405500.jpg);
    background-position: top;
    background-size: cover;
    clip-path:polygon(0 0,100% 0,100% 75vh,0 100%);
    position:relative;
   
    &__logo-box{
        position:absolute;
        top: 4rem;
        left: 2rem;
    }
    &__logo{
        height: 50.5rem;;
        padding-bottom: 30.5rem;
        
    }
    &__Text-box{
        position: absolute;
        top: 40%;
        left:50%;
        transform:translate(-50%,-50%);
        text-align: center;
    }
}


